.centeredPanel {
  display:flex;
  justify-content:center;
  padding:.5vw;
  margin-top:3vw;
}

.tileContainer {
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.homeLink {
  width:44vw;
  height:44vw ;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin-bottom:4vw;
  margin-top:1vw;
}

.titleImageContainer {
  width:43vw !important;
  height:43vw !important;
  border-radius:.25rem;
  display:flex;
  justify-content:center;
  align-items:center;
  border:none !important;
    background-color:white !important;
}
